// Переназначаем сетку bootstrap по макету
.row {
    margin-left: -20px;
    margin-right: -20px;
    &_custom-spacing {
        & > div {
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 37px;
        }
    }
}
.container {
    padding-left: 25px;
    padding-right: 25px;
}
@media (min-width: 1200px) {
    .container {
        max-width: 1400px;
    }
}

